doctype html
html
	head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/androidstudio.css')
	
	script(src="/javascripts/highlight.pack.js")
	
	script(type='text/javascript').
		var initialData=!{initialData}
	body
		#contentBody.contentBody
			#react-header-node.header !{header} 
			div.mainContent
				#react-menu-node.menu !{menu}
				div.content
					block content
				
		script(src='/javascripts/main.js')