h2 What?
p
	|	Node! React! Isomorphic web sites! Single page web sites! Progressive enhancement! OMG!! What?!?!?!
p
	|	Yep, those words and phrases are scary. They're daunting. They're complete buzzwords. And all totally relevant to modern web development. You need to know what those things are if you're developing web sites. 
	|	This website demonstrates an progressively enhanced, react.js based isomorphic node.js hosted web site. Sheesh... I crapped my pants a little just writing that! 
p
	|	This site will run just fine in browsers with JavaScript disabled. On browsers where JavaScript is enabled, this site magically transforms to... look exactly the same! Although, it does become a single page app. You'll have 
	|	to delve into  
	a(href="/how") How
	|	 to find out the what the magic is. Suffice it to say however that there is no duplication of work to progressively enhance the site where JavaScript is required. With React.js, one simple extends the components to support JavaScript 
	|	when available. Although progressive enhancement has been around for a while, I think React.js and the isomorphic web development it offers has finally made it simple and straight forward to do.
