h2 Who?
p
	img.who(src="images/charl.jpg")
	| 
	span.who =
	| 
	img.who(src="images/Tals_Monkey.png")
p
	| My name is Charl "Tallies the TechnoMonkey" Marais. Tallies for short.
p
	| I've been building software for 17 years, mostly on the Microsoft stack. I'm a C# developer mostly. I've build applications 
	| ranging from desktop applications, to web applications, to high volume back-end systems. I've worked in Java, VB6 (I know!), C#.Net and all the web technologies you can shake a stick at.
p
	| I'm currently employed at the 
	a(href="http://www.newmedialabs.co.za" target="_blank") New Media Labs
	| . It's a vibrant company with a bright future, and dedicated and talented developers. I'm lead of custom 
	| software development, making sure our developers have the skillsets to build the best software for our clients possible.
p
	| Hit me up on twiiter: @talsmonkey! 	
