body {
	margin:50px 0px; 
	padding:0px;
	text-align:center;
	font-family: Arial, Verdana, Time New Roman;
	font-size: 12pt;
	color: #3F4037;
}

.contentBody {
	width:1024px;
	margin:0px auto;
	text-align:left;
	padding:0px;
}

.content{
	position: relative;
	margin-top: 40px;
}

.header > div {
	position:relative;
}

img.header {
	width:200px;
	display: inline-block;
	vertical-align: middle;	
}

.header img.left {
	position: absolute;
	left: -215px
}

.header img.right {
	position: absolute;
	left: 1024px;
	height:100%
	
}

span.header{	
	display: inline-block;
	vertical-align:middle;
	/*text-shadow:3px 3px 10px #3F4037;*/
}

h2 {
	/*text-shadow:3px 3px 7px #3F4037;*/
	border-bottom:  1px solid #95C331;
	padding-bottom: 15px;
}

a {
  color: #00B7FF;
}

div.menu{
	width:119px;	
	position: absolute;
	left: -119px;
	z-index:2; /*desperation because of my admittedly poor CSS knowledge*/
}

ol {
	list-style-position : inside;
}

ul.menu {
	list-style-type: none;
	list-style-position: outside;
	display:table;
	margin-top: 0px;
	padding: 0px;
}

li.menuItem {
	margin-bottom: 10px;
}

a.menuItem {
	/*.text-shadow:2px 2px 5px #3F4037;*/
	color: #3F4037;
	background-color: #95C331;
	font-weight: bold;
	text-align: center;
	height:75px;
	width:75px;
	display:table-cell;
	vertical-align: middle;
	border:solid 2px #95c331;
	text-decoration: none;
	
	/*border radius*/
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

a.menuItem:hover {
	color: #3F4037;
	background-color:white;
	/*background-color : #73D4F7*/
}

a.menuItemActive {
	color: white;
	/*text-shadow:2px 2px 5px #95C331;*/
	font-weight: bold;
}

a.menuItemActive:hover {
	background-color : transparent;
}

div.contentPanel{
	position: relative;
	z-index:1; /*desperation because of my admittedly poor CSS knowledge*/
}

div.contentPanel h2 {
	margin-top:0px;
}

div.who > p.who {
	position:relative;
}

span.who{
	font-weight:bold;
	font-size: 24pt;
	vertical-align:middle;
}

img.who {
	height:100px;
	width:100px;
	vertical-align:middle;
}

.clear {
	clear: both;
}

p.definition {
	background-color: #eeeeee;
	border: 1px silver solid;
	padding: 5px;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

p.definition > span.title {
	font-weight: bold;		
}

p.definition > span.description {
	font-style: italic;
	display : block;
}
a.reference {
	display: block;
	font-size:10pt;
}


/*
3F4037 gray
73D4F7 blue
95C331 green
*/	